<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ResourcePath" value="C:\Users\MGalletti\Development\Misc_source\C#\HacerRank\Arrays\2D_Array\2DArray\resources\"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>